<h1>Tasks#index</h1>

<% @tasks.each do |task| %>
  <p>
    <strong>
    <%= link_to task.name, task_path(task) %>
    </strong>
    <%= link_to "[Delete]", destroy_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

    <%= link_to "[update]", edit_path(task)%>

  <% end %>

  </p>

  <%= link_to "[create]", tasks_new_path(@task)%>



